<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="AccessKey" value="e0391d6190ce458a142b2ad0fd83d6f9"/>
      <add key="AccessUrl" value="http://apilayer.net/api/"/>
     </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>